<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>againBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{268,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,126}}</string>
                <key>sourceSize</key>
                <string>{268,126}</string>
            </dict>
            <key>againBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,130},{268,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,126}}</string>
                <key>sourceSize</key>
                <string>{268,126}</string>
            </dict>
            <key>boxBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>fallBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,734},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>fallBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,922},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>rightMan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{448,562}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{448,562}}</string>
                <key>sourceSize</key>
                <string>{456,582}</string>
            </dict>
            <key>right_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1140},{222,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,93}}</string>
                <key>sourceSize</key>
                <string>{222,93}</string>
            </dict>
            <key>riseBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1110},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>riseBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1298},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>shareBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,514},{268,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,108}}</string>
                <key>sourceSize</key>
                <string>{268,108}</string>
            </dict>
            <key>shareBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,624},{268,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,108}}</string>
                <key>sourceSize</key>
                <string>{268,108}</string>
            </dict>
            <key>startBtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,258},{268,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,126}}</string>
                <key>sourceSize</key>
                <string>{268,126}</string>
            </dict>
            <key>startBtn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,386},{268,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,126}}</string>
                <key>sourceSize</key>
                <string>{268,126}</string>
            </dict>
            <key>wrong_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1364},{222,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,93}}</string>
                <key>sourceSize</key>
                <string>{222,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>widget.png</string>
            <key>size</key>
            <string>{914,1590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17f8bf7369d747fafb23df5f92c2f67:74a90fa9a5157dd944af6d35ee37dc20:f60a47cba5203cab6370f6d01b4bf9d9$</string>
            <key>textureFileName</key>
            <string>widget.png</string>
        </dict>
    </dict>
</plist>
